:root {
  --blue: #296ca7;
  --skyblue: #4a92d3;
  --box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
}

* {
  box-sizing: border-box;
}

body {
  color: white;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.container {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  text-align: center;
}

input[type='text'] {
  padding: 10px;
}

ul.post {
  padding: 0;
}

li.post__item {
  list-style-type: none;
  padding: 10px 30px;
  position: relative;
  background-color: var(--skyblue);
  margin: 40px 0;
  box-shadow: var(--box-shadow);
}

.post__item__number {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  color: var(--blue);
  text-align: center;
  margin: 0;

  border-radius: 20px;
}

.loader {
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader.show {
  opacity: 1;
}

.ball {
  margin: 5px;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  animation: bounce 0.5s ease infinite;
}

.ball:nth-last-of-type(2) {
  animation-delay: 0.1s;
}

.ball:nth-last-of-type(3) {
  animation-delay: 0.2s;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
