html,
body {
  height: 100%;
  background-color: #f9fafb;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  width: 320px;
  height: 440px;
  border-radius: 5px;
  padding: 40px;

  box-shadow: 0 1px 2px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 7%),
    0 4px 8px rgb(0 0 0 / 7%), 0 8px 16px rgb(0 0 0 / 7%),
    0 16px 32px rgb(0 0 0 / 7%), 0 32px 64px rgb(0 0 0 / 7%);
}

h2 {
  margin: 0;
  font-weight: 500;
}

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.input-box {
  width: 100%;
  height: 70px;
}

label {
  color: rgba(1, 1, 1, 0.5);
}

.input-box > input {
  width: 93%;
  padding: 10px;
  border-radius: 3px;
}

.input-box > input::placeholder {
  color: rgba(1, 1, 1, 0.5);
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #3498da;
  color: white;
  border: none;
  border-radius: 3px;
}

small {
  color: red;
}

.visible {
  display: inline;
}

.invisible {
  display: none;
}

.normal {
  border: 2px solid rgba(1, 1, 1, 0.1);
}

.error {
  border: 2px solid #e74c3c;
}

.success {
  border: 2px solid #2ecc71;
}
